{% extends "layout.html" %}
{% block content %}
    <title>BBS</title>
    <h1>BBS</h1>

    <form action="/thread" method="post">
        <label for="thread">新しいスレッドを立てる</label>
        <input type="text" name="thread">
        <button type="submit">作る</button>
    </form>

    <h2>スレッド一覧</h2>
    {% for thread in threads: %}
        <form action="/thread" method="post">
            <input type="hidden" name="thread" value="{{ thread.threadname }}">
            <button type="submit">{{ thread.threadname }}</button>
        </form>
    {% endfor %}

{% endblock %}

